<section class="Home__cards">
  <div class="container">
    <h2 class="Home__cards-heading">All Vehicles</h2>
    <div class="row">
      <% @vehicles.each do |vehicle| %>
        <div class="col-sm-6 col-md-4">
          <%= render 'shared/card', vehicle: vehicle %>
        </div>
      <% end %>
    </div>
  </div>
</section>
