<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">

            <div class="text-center mt-5">
                <h1>HireWay</h1>
                <p class="lead">Find a luxury vehicle, near you</p>
            </div>
        </div>
    </body>
</html>
        <div class="row gx-0">
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#!">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">Cars</div>
                                    <p class="mb-0">Find a luxury car</p>
                                </div>
                            </div>
                            <img src="https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="img-fluid" alt="Responsive image">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#cards">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">Boats</div>
                                    <p class="mb-0">Find a luxury boat</p>
                                </div>
                            </div>
                            <img src="https://images.unsplash.com/photo-1517988368819-88f4eacfef44?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" class="img-fluid" alt="Responsive image">
                        </a>
                    </div>
                    </div>
                </div>
    </body>
</html>
