#header {
  background: url(https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80) center center / cover no-repeat ;
}

#gallery {
  background: url(https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80) center center / cover no-repeat ;
  float: left;
  width: 50%;
  height: 100%;
}

.display-3 {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.lead {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
}

.card {
  margin: 10px;
  position: relative;
  max-width: 200px;
  max-height: 250px;
}

.card:hover {
  box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.15);
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-title {
  position: relative;

  padding-bottom: 10px;
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 1.2em;
}

.map {
  float: right;
  width: 50%;
  height: auto;
  background: url(https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80) center center / cover no-repeat ;
  position: absolute;
  margin-left:50%;
  border-radius: 20px;
}

// .card-body {
// }


// /* Split the screen in half */
// .split {
//   height: 100%;
//   width: 50%;
//   position: fixed;
//   z-index: 1;
//   top: 0;
//   overflow-x: hidden;
//   padding-top: 20px;
// }

// /* Control the left side */
// .left {
//   left: 0;
// }

// /* Control the right side */
// .right {
//   right: 0;
// }

// .card-price {
// }
