* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: gray;
  color: black;
  font-family: helvetica, sans-serif;
}

main {
  background-color: #EDFDED;
  max-width: 1200px;
  margin: auto;
  min-height: 100vw;
}

h2 {
  padding: 20px 0px;
  text-align: center;
}

.card-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin:  0px 10px;
}

.card {
  width: 320px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #d7d7d7;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.card:hover {
  box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.15);
}
.card > img {
  border-radius: 2px;
  max-width: 100%;
  margin-bottom: 10px;
  height: auto;
}

.card h3 {
  color: purple;
}

.card p {
  color: #757575;
  line-height: 1.5;
  padding-top: 10px;
}
